* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  
}

a {
  border: 1px solid transparent;
}




body {
  background-image: url(../img/bg-home.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

 body.universe {
  background-image: url(../img/bg-universe.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

body.explorer {
  background-image: url(../img/bg-explorer.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

#root {
  min-height: calc(100vh - var(--nav-height));
  width: 100vw;
  display: grid;
}

nav {
  padding: 40px 0 40px 72px ;
  margin: 0 auto;
}

nav, ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.titulo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 125%;

  color: #E1E1E6;
  margin-bottom: 24px;
}

.conteudo {
  padding-top: 172px;
  text-align: center;
  margin: 0 auto;
}

.conteudo-universo {
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 102px;
}

.conteudo-universo p {
  max-width: 60ch;
}

.conteudo a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #FFFFFF;

  padding:12px 32px 12px 32px;
  border: 3px solid #fff ;
  border-radius: 5px;
}